<table class="table table-striped table-dark">
		<thead class="font-weight-bold">
			<tr>
				<th class="text-center">Train</th>
				<th class="text-center">Count carriages</th>
				<th class="text-center">Count seats</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="text-center text-warning">
			<tr *ngFor="let train of trains; let i=index">
				<td>{{train.trainName}}</td>
				<td>{{train.cntCarriage}}</td>
				<td>{{train.cntSeats}}</td>
				<td>
					<button class='btn btn-outline-warning editTrain' (click)="edit(train, i)"><img src='static/images/edit.png'></button>
					<button class='btn btn-outline-warning deleteTrain' (click)="delete(train.trainName, i)"><img src='static/images/rubbish-bin.png'></button>
				</td>
			</tr>
		</tbody>
	</table>
