body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.wrapper {
    height: 1080px;
    width: 1920px;
    margin: auto;
    background: #280744;
    overflow: hidden !important;
}

.background {
    position: absolute;
    height: 1080px;
    width: 1920px;
    /* background: url(/static/images/bg.png) top center repeat-x; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSXhkaG1VaEhSTjA) top center repeat-x;
    background-size: contain;
}

.rocks_1 {
    position: absolute;
    bottom: -5px;
    height: 250px;
    width: 1920px;
    /* background: url(/static/images/rocks_1.png) top center repeat-x; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QckJsSTBOSmdsYmc) top center repeat-x;
    background-size: contain;
    animation: translateX 100s infinite linear both;
}

.rocks_2 {
    position: absolute;
    bottom: -60px;
    height: 250px;
    width: 1920px;
    /* background: url(/static/images/rocks_2.png) top center repeat-x; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSC1sYnVUWUxKSGs) top center repeat-x;
    background-size: contain;
    animation: translateX 30s infinite linear both;
}

.rails {
    position: absolute;
    bottom: -110px;
    height: 250px;
    width: 1920px;
    /* background: url(/static/images/rails.png) top center repeat-x; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QZmtCbjlIbjVwclk) top center repeat-x;
    background-size: contain;
    animation: translateX 5s infinite linear both;
}

.train {
    position: absolute;
    bottom: -105px;
    height: 250px;
    width: 1500px;
    right: 0px;
    /* background: url(/static/images/train.png) top center no-repeat; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs) top center no-repeat;
    background-size: contain;
}

.ground {
    position: absolute;
    width: 1920px;
    height: 70px;
    bottom: 0px;
    background: #16012f;
}

.lights {
    position: absolute;
    bottom: -39px;
    height: 250px;
    width: 1920px;
    /* background: url(/static/images/lights.png) top center repeat-x; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QNTJ1U2M1eFptSTA) top center repeat-x;
    background-size: contain;
    animation: translateX 4s infinite linear both;
}

.moon {
    position: absolute;
    top: 20%;
    height: 250px;
    left: 200px;
    width: 120px;
    /* background: url(/static/images/moon.png) top center no-repeat; */
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QRTVYeVFoYVppeUU) top center no-repeat;
    background-size: contain;
}

@keyframes translateX {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1920px 0px;
    }
}
