<div class="d-flex  align-items-center p-3 bg-dark  box-shadow">
	<h5 class="my-0 mr-md-auto font-weight-normal text-warning">RAILWAY EMPIRE</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-light" [routerLink]="['/schedule']" id="showScheduleID">Schedule</a>
		<a class="p-2 text-light" [routerLink]="['/add-item']" id="showNewItemID">New</a>
		<a class="p-2 text-light" [routerLink]="['/edit-item']">Edit</a>
		<a class="p-2 text-light" [routerLink]="['/mapItem']">Map</a>
		<a class="p-2 text-light" [routerLink]="['/chart']" id="showChartID">Chart</a>
		<a class="p-2 text-light" [routerLink]="['/audit']">Audit</a>
		<a class="p-2 text-light" [routerLink]="['/trip']" id="showTripsID">Trips</a>
		<a class="p-2 text-light" [routerLink]="['/mapUser']">Map</a>
		<a class="p-2 text-light" [routerLink]="['/profile']">Profile</a>
	</nav>
	<a class="btn btn-outline-warning" href="/logout">Sign out</a>
</div>
<router-outlet></router-outlet>