<table class="table table-striped table-dark">
	<thead class="font-weight-bold">
		<tr *ngIf="audits!=[]">
			<th class="text-center">Changed date</th>
			<th class="text-center">Changed by</th>
			<th class="text-center">Event</th>
			<th class="text-center">New value</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="text-center text-warning">
		<tr *ngFor="let audit of audits; let i=index">
			<td>{{audit.date}}</td>
			<td>{{audit.userLogin}}</td>
			<td>{{audit.operations}}</td>
			<td>{{audit.newValue}}</td>
			<td>
				<button class='btn btn-outline-warning' (click)="auditInfo(i)">
                        <img src='static/images/restore.png'></button>
			</td>
		</tr>
	</tbody>
</table>